<style>
body  {
  background-image: url("https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80");
  background-color: black;
}
</style>
</head>
<body>



<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>TESTING IMAGE</title>
</head>

<body>


  <p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></p>
  <h1><strong>&nbsp; &nbsp; &nbsp; &nbsp; Face Recognition&nbsp;&nbsp;</strong>&nbsp;<strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; Probabilities</strong></h1>

  <p>&nbsp;</p>
  <p><img style="float: left;" src="{{face}}" alt="Chart" width="500" height="450" />&nbsp; &nbsp; &nbsp;&nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="{{chart}}" alt="Chart" width="500" height="450" /></p>









  <!-- <h4 style="text-align: center;"> Facial Recognition </h4>

  <img style="display: block; margin-left: auto; margin-right: auto;" src={{face}} alt="Chart" height="100" width="100">
  <br>
  <h4 style="text-align: center;"> Probabilities </h4>
  <br>
  <img style="display: block; margin-left: auto; margin-right: auto;" src={{chart}} alt="Chart" height="400" width="400">

</body>

</html> -->
